/**
 * Stylus (nib) resets
 */
@import 'nib'
global-reset()

/**
 * Grid configuration
 */
$col-count = 12
$max-wrapper-width = 1200px
$fluid-wrapper-width = 100%
$col-gutters = 10px

/**
 * Break point names and values
 */
$break-point-names =    'xs'    'sm'    'md'    'lg'    'xl'
$break-point-values =   0       768     992     1200    1400
